.add-task-form {
    background: var(--light-gray-color);
    position: absolute;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 0;
    transition: height 0.3s linear;
    z-index: 0
}

.add-task-form.show {
    height: 50%;
    box-shadow: 0px 5px 5px var(--shadow)
}

.add-task-form form {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    border-radius: 3px;
    align-items: center;
    grid-gap: 20px;
    padding: 0 50px 10px;
    background: #FFF;
    box-shadow: 5px 5px 5px var(--shadow);
    margin: 10px 6%;
}

.add-task-form form label {
    font-size: 1.2em;
}

.add-task-form .form-legend {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.confirm-cansel-pnl {
    grid-row: 5;
    grid-column: 2;
}

.timeset {
    color: var(--purple-color);
    display: flex;
    font-size: 1.4em;
    align-items: center;
}

.timeset div {
    padding: 0 10px;
}

.back, .next {
    cursor: pointer;
    color: var(--purple-color);
    user-select: none;
    font-size: 1.2em;
    padding: 0 10px;
}

.back:hover, 
.next:hover {
    color: var(--green-color);
}

.back:active,
.next:active {
    color: var(--purple-color); 
}

.description {
    padding: 10px;
    color: var(--purple-color);
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid lightgray;
    height: 9em;
    resize: none
}

.description:focus {
    border: 1px solid var(--purple-color);
    border-radius: 3px;
}

.task-type {
    padding: 10px 10px 10px 7px;
    margin: 5px;
    border-radius: 50%;
    background: #FFF;
    font-size: 1.3em;
    width: 40px;
    height: 40px;
    line-height: 20px;
    user-select: none;
    cursor: pointer;
    left: 0;
    transition: 0.3s linear transform, 0.3s linear left;
    position: relative;
}

.task-type:hover {
    border: 1px solid var(--purple-color);
    transform: scale(1.2)
}

.task-type.active {
    border: 2px solid var(--purple-color);
}

.task-type-list {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    background: var(--light-gray-color)
}

.task-type-pnl {
    display: flex;
    align-items: center;
}


