.todo-panel {
    position: relative;
}

.task-header {
    background: var(--green-color);
    box-shadow: 0px 5px 5px var(--shadow);
    color: #FFF;
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
    text-align: center;
    height: 50px;
}

.btn-pnl {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    z-index: 2
}

.add-task {
    background: #FFF;
    border: 2px solid var(--purple-color);
    border-bottom: 0;
    border-radius: 25px 25px 0 0;
    color: var(--purple-color);
    cursor: pointer;
    padding: 10px 20px 5px 20px;
    font-size: 1.2em;
    outline: none;
    transition: all linear 0.3s;
}

.add-task:hover {
    color: #FFF;
    background: var(--purple-color);
}

.add-task:active {
    background: #FFF;
    color: var(--purple-color);
    border: none
}

.todo-list {
    height: calc(100vh - 120px);
    overflow: auto
}

.task {
    margin: 15px auto;
    display: grid;
    grid-template-areas: "icon time" "icon text";
    grid-template-columns: 50px auto;
    grid-template-rows: 30px auto;
    grid-column-gap: 20px;
    align-items: center;
    background: var(--light-gray-color);
    border-radius: 50px 0 0 50px;
    padding: 10px 10px;
    box-shadow: 0 3px 3px var(--shadow);
    position: relative;
    width: 80%;
}

.task:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 5px;
    bottom: -15px;
    left: 60px;
    background: var(--purple-color);
}

.task:last-child:after {
    height: 0;
}

.task-icon {
    grid-area: icon;
    border-radius: 50%;
    font-size: 1.6em;
    text-align: center;
    line-height: 50px;
    background: #FFF;
    width: 50px;
    height: 50px;
    user-select: none;
}

.task-time {
    grid-area: time;
    color: var(--green-color);
    font-size: 1.3em
}

.task-text {
    grid-area: text;
    word-wrap: break-word;
}