.calendar {
    --month-height: 70px;
    --day-size: 40px;
    
    width: 350px;
    height: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0000000f;
    display: grid;
    grid-template-rows: var(--month-height) repeat(6, var(--day-size));
    grid-template-columns: repeat(7, var(--day-size));
    padding: 0 30px 30px 30px;
    user-select: none;
    margin-top: 10px;
}

.month {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--red-color);
    text-transform: capitalize;
    font-size: 1.5em;
    text-align: center;
    line-height: var(--month-height);
    border-bottom: var(--light-gray-color) 2px solid;
}

.month-nav {
    font-size: 1.5em;
    text-align: center;
    line-height: var(--month-height);
    transition: transform 0.3s linear;
    cursor: pointer;
}

.month-nav:hover {
    color: var(--green-color);
    transform: scale(2.5)
}

.month-nav:active {
    color: var(--light-gray-color)
}

.day-item {
    text-align: center;
    line-height: var(--day-size);
    font-size: 0.9em;
    border-radius: 50%;
}

.day-item~:not(.inactive) {
    cursor: pointer;
    transition: transform 0.3s linear;
}

.day-item~:not(.inactive):hover {
    background-color: var(--green-color);
    color: #fff;
    transform: scale(0.9)
}

.day-item~:not(.inactive):active {
    background-color: #fff;
    color: var(--green-color)
}

.inactive {
    color: lightgray
}

.mark-past {
    background-color: var(--light-gray-color);
    transform: scale(0.9);
    color: var(--purple-color)
}

.mark-future {
    border: 2px solid var(--green-color);
    border-top: none;
    transform: scale(0.9);
}

.today {
    background-color: var(--red-color);
    color: #FFF;
}

.selected {
    background-color: var(--green-color);
    color: #fff;
    transform: scale(0.9)
}

.today.selected {
   background: linear-gradient(-45deg, var(--red-color), var(--red-color) 50%, var(--green-color) 50%);
}
