.progress-container {
    position: relative;
}

.add-progress {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: background-color 0.3s linear;
    outline: none;
}

.add-progress:hover {
    background-color: #FFF;
    color: var(--purple-color)
}

.add-progress:active {
    background-color: transparent;
}

.progress-form {
    height: 80%;
    width: 0%;
    position: absolute;
    top: 10%;
    right: 0%;
    box-shadow: 0 5px 5px var(--shadow);
    transition: 0.3s width linear;
    z-index: 10;
}

.progress-form.show {
    background-color: #FFF;
    width: 94%;
    margin: 10px 0 20px 10px;
    border-radius: 3px;
}

.progress-form form {
    padding: 0 20px 0 50px;
    display: flex;
    flex-direction: column;
}

.progress-form label {
    font-size: 1.2em;
}

.progress-form input {
    padding: 10px 15px;
    width: 95%;
}

.progress-form input:focus {
    border: 1px solid var(--green-color);
    border-radius: 3px;
    padding: 10px 15px;
}

.progress-form * {
    margin-bottom: 15px;
}

.progress-day-list {
    overflow-y: auto;
    height: calc(100vh - var(--calendar-container-height) - var(--header-height));
}

.progress-day-list-item {
    margin: 10px 30px;
    position: relative;
    color: var(--purple-color);
    background: #FFF;
    padding: 5px;
    line-height: 24px;
    font-size: 1.1em;
    box-shadow: 5px 5px 5px var(--shadow);
    border-radius: 4px;
}

.progress-day-list-item:before {
    content: '\25C9';
    padding: 0 10px;
    color: var(--green-color);
    content: '\25C9';
    padding: 0px 10px 0 10px;
    color: var(--green-color);
    line-height: 24px;
}

.progress-from-to {
    float: right;
    font-size: 0.8em;
}