.btn {
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 15px;
    width: 140px;
    font-size: 1.2em;
    outline: none;
    transition: background-color linear 0.3s;
    background: #FFF;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid;
    border-right: 2px solid;
    margin: 0 5px;
}

.confirm {
    color: var(--green-color);
}

.confirm:hover {
    background-color: var(--green-color);
    color: #FFF;
}

.cansel {
    color: var(--purple-color);
}

.cansel:hover {
    background-color: var(--purple-color);
    color: #FFF;
}

.confirm-cansel-pnl {
    text-align: right;
}

.confirm:active,
.cansel:active {
    background: #FFF;
    border-bottom: none;
    border-right: none;
    border-top: 2px solid;
    border-left: 2px solid;
}

.confirm:active {
    color: var(--green-color);
}

.cansel:active {
    color: var(--purple-color)
}