* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Caption', sans-serif;
  color: #333;
  
  --purple-color: #6c5b7b;
  --green-color: lightseagreen;
  --light-gray-color: #edf4f5;;
  --red-color: #dc3545;
  --shadow: #0000002f;
  --header-height: 50px
}


