.right-panel {
    --calendar-container-height: 410px;

    background: var(--light-gray-color);
    display: grid;
    grid-template-rows: var(--calendar-container-height) auto;
    overflow-y: hidden;
}

.calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.calendar-container h3 {
    width: 100%;
}