.container {
    display: grid;
    grid-template-columns: minmax(150px, 10%) 50% auto;
    min-height: 100vh;
}

.left-panel {
    background: #333;
}

.todo-list {
    background: var(--gray-color)
}

header {
    border-bottom: 2px #FFF solid;
    color: var(--green-color);
    font-size: 3em;
    font-weight: 600;
    margin: 40px 0 0 0;
    text-align: center;
}

header span {
    color: #FFF;
    text-shadow: 0 0 3px #FFF;
}

.date-panel {
    font-size: 1.2em;
    text-align: center;
    margin-top: 50px;
}

.date-panel > div {
    color: var(--light-gray-color);
}

.form-legend {
    border-bottom: 2px solid var(--light-gray-color);
    color: var(--green-color);
    font-size: 1.4em;
    margin-bottom: 10px;
    padding: 10px 20px;
}

h3 {
    background: var(--purple-color);
    box-shadow: 0 5px 5px var(--shadow);
    color: #fff;
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 25px;
}   